/* button */

button:focus {
  outline: 0;
}

.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.5rem 0.8rem;
  margin-right: 0.4rem;
  transition: opacity 0.5s;
  user-select: none;
}

.button:hover {
  opacity: 0.5;
}

/* button styles */
.button--primary {
  color: #fff;
  background-color: rgb(30, 60, 202);
}

.button--danger {
  color: #fff;
  background-color: rgb(202, 60, 60);
}

.button--block {
  display: block;
  margin: 0.5rem 0;
}

/* button sizes */
.button--xsmall {
  font-size: 70%;
}

.button--small {
  font-size: 85%;
}
