@import './button.css';
@import './ReactModal.css';

/* -- base -- */
body {
  font-family: sans-serif;
  font-size: 16px;
}

/* -- layout -- */
body {
  padding: 0;
  margin: 0;
}

.main {
  position: relative;
  padding: 2em;
  left: 0;
  transition: margin-left 0.5s;
}

.wrapper--open .main {
  margin-left: 160px;
}

.menu-bar {
  position: fixed;
  display: block;
  width: 160px;
  top: 0;
  bottom: 0;
  left: -160px;
  transition: left 0.5s;
}

.wrapper--open .menu-bar {
  left: 0px;
}

/* -- grid -- */
.grid-row {
  display: flex;
  flex-flow: row wrap;
}

.grid-1-2,
.grid-1-3,
.grid-1-4,
.grid-1-6 {
  display: inline-block;
}

.grid-1-2 {
  width: 50%;
}

.grid-1-3 {
  width: 33.3333%;
}

.grid-1-4 {
  width: 25%;
}

.grid-1-6 {
  width: 16.6666%;
}

/* -- components -- */

/* menu bar */
.menu-bar {
  background: #ddd;
}

.menu-bar__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #ccc;
}

.menu-bar__list:last-child {
  border-bottom: none 0;
}

.menu-bar__item {
  cursor: pointer;
  padding: 0.5rem 0.5rem;
}

.menu-bar__item:hover {
  color: #ccc;
  background-color: #333;
}

/* menu link */
.menu-link {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0px;
  cursor: pointer;
  display: block;
  font-size: 15px;
  height: 0px;
  left: 5px;
  position: fixed;
  padding: 20px 10px;
  top: 5px;
  transition: all 0.5s;
  width: 20px;
  z-index: 10;
}

.wrapper--open .menu-link {
  border-radius: 20px;
  left: 165px;
}

.menu-link:hover,
.menu-link:focus {
  background-color: #000;
}

.menu-link span {
  position: relative;
  display: block;
}

.menu-link span,
.menu-link span:before,
.menu-link span:after {
  background-color: #fff;
  width: 100%;
  height: 0.15em;
}

.menu-link span:before,
.menu-link span:after {
  position: absolute;
  content: ' ';
  transition: all 0.5s;
  cursor: pointer;
}

.menu-link span {
  margin-top: -0.1em;
}

.menu-link span:before {
  margin-top: -0.4em;
}

.menu-link span:after {
  margin-top: 0.4em;
}

.menu-link--open span {
  background-color: #000;
}

.menu-link--open span:before {
  margin-top: 0;
  transform: rotate(45deg);
}

.menu-link--open span:after {
  margin-top: 0;
  transform: rotate(-45deg);
}

/* budget item */
.budget-item {
  padding: 0.4em 0.8em;
}

.budget-item:first-child {
  border-top: 1px solid #ccc;
  padding-top: 0.8em;
}

.budget-item:last-child {
  padding-bottom: 0.8em;
}

.budget-item--deficit {
  background: #fdd;
}

.budget-item--spending .budget-item__amount {
  color: rgb(150, 40, 20);
}

.budget-item--income .budget-item__amount {
  color: rgb(40, 150, 20);
}

.budget-item__amount,
.budget-item__total {
  margin-right: 1em;
  margin-left: -1em;
}

.budget-item__amount,
.budget-item__total,
.budget-item__tools {
  text-align: right;
}

.budget-total {
  padding: 0.8em 0.8em;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
}

/* login form */
.login-form {
  margin: 3rem auto;
  width: 25rem;
}

.login-form button {
  font-size: 20px;
}

.login-form input {
  display: block;
  font-size: 32px;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  width: 100%;
}

/* form */
.invalid input {
  border: 1px solid rgb(202, 60, 60);
}
